@import './fonts';

body {
  margin: 0;
  background-color: var(--main-background);
  font-family: 'Quicksand', sans-serif;
}

:root {
  --main-background: #222222;
  --header-background: #444444;
  --text-primary: #fff;
  --text-name: rgba(234, 179, 8, 1);
  --timeline-text-company: #a5a6a7;
  --timeline-text-title: #eee;
  --timeline-text-content: #d5d5d5;
  --icon-color: #b5b6b7;
  --icon-color-active: #04b4e0;
  --icon-background: rgba(255, 255, 255, 0.2);
  --timeline-date: #aaaaaa;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
