@import './fonts';

body {
  margin: 0;
  background-color: var(--main-background);
  font-family: 'Quicksand', sans-serif;
}

:root {
  --main-background: rgba(24, 24, 27, 1);

  --text-primary: #fff;
  --text-name: rgba(234, 179, 8, 1);

  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
