:host
  display grid
  grid-gap 10px
  grid-template-columns repeat(3, minmax(0, 1fr))
  grid-template-areas 'header header header' 'sidebar content content'

header
  display flex
  justify-content space-between

  a
    align-self center
    justify-self center
    text-decoration none

    &:visited
      color inherit

  grid-area header

main
  grid-area content

aside
  grid-area sidebar
